In [35]:
a <- read.table("../R_yang/trafficAccident_2011_2019.txt", sep="\t")

In [16]:
seoul <- read.csv("../R_yang/newSeoul2019.csv")

In [24]:
a[4:14,]

   V1   V2     V3       V4     V5    V6    V7    V8    V9    V10   V11   V12
4  2011 합계   부상자수 57,625 4,429 3,734 4,513 4,905 5,036 4,831 5,067 4,823
5  2011 종로구 발생건수 1,421  115   99    116   110   122   116   103   122
6  2011 종로구 사망자수 14     2     -     -     1     -     3     1     1
7  2011 종로구 부상자수 1,994  165   134   162   153   157   163   154   171
8  2011 중구   발생건수 1,497  108   86    141   128   121   115   119   117
9  2011 중구   사망자수 13     -     -     -     3     1     1     1     1
10 2011 중구   부상자수 2,025  159   112   183   175   165   156   154   154
11 2011 용산구 발생건수 1,170  98    92    88    103   104   98    102   104
12 2011 용산구 사망자수 9      -     1     2     1     1     -     -     1
13 2011 용산구 부상자수 1,704  141   134   132   149   151   143   151   146
14 2011 성동구 발생건수 1,154  90    80    80    109   98    99    106   77
   V13   V14   V15   V16
4  4,893 5,244 5,150 5,000
5  121   135   140   122
6  2     2     1     1
7  166   193   204   172
8  140   147   132   143
9  1     2     3     -
10 181   203   172   211
11 75    109   107   90
12 1     1     1     -
13 107   157   156   137
14 109   102   104   100

In [22]:
head(seoul)

  년도 월 자치구명 발생건수 사망자수 부상자수
1 2011 1  종로구   115      2        165
2 2011 2  종로구    99      0        134
3 2011 3  종로구   116      0        162
4 2011 4  종로구   110      1        153
5 2011 5  종로구   122      0        157
6 2011 6  종로구   116      3        163

In [41]:
ta1[3:5,4:15]

  V4     V5    V6    V7    V8    V9    V10   V11   V12   V13   V14   V15
3 435    36    32    20    44    36    37    36    50    37    25    40
4 57,625 4,429 3,734 4,513 4,905 5,036 4,831 5,067 4,823 4,893 5,244 5,150
5 1,421  115   99    116   110   122   116   103   122   121   135   140

In [45]:
ta1 <- a

d = 1

for(i in 1:2){
dd <- d+2
c <- ta1[d:dd,4:15]
}
c

  V4     V5    V6    V7    V8    V9    V10   V11   V12   V13   V14   V15
1 합계   1월   2월   3월   4월   5월   6월   7월   8월   9월   10월  11월
2 40,451 3,038 2,573 3,126 3,450 3,603 3,390 3,529 3,360 3,433 3,734 3,701
3 435    36    32    20    44    36    37    36    50    37    25    40

In [43]:
class(d)

[1] "numeric"

In [47]:
d = 1
for(i in 1:2){
    
    dd <- d+2
    
   a <- cbind(a, ta1[d:dd,])
    d = d+3
}
a

   V1   V2     V3       V4    V5  V6  V7  V8  V9  V10 ... V7    V8    V9
76 2011 송파구 부상자수 3,632 252 226 306 284 281 325 ... 4,513 4,905 5,036
77 2011 강동구 발생건수 1,423 114 80  106 113 128 109 ... 116   110   122
78 2011 강동구 사망자수 13    1   -   2   1   -   2   ... -     1     -
   V10   V11   V12   V13   V14   V15   V16
76 4,831 5,067 4,823 4,893 5,244 5,150 5,000
77 116   103   122   121   135   140   122
78 3     1     1     2     2     1     1

In [48]:
t(a)

    76       77       78
V1  2011     2011     2011
V2  송파구   강동구   강동구
V3  부상자수 발생건수 사망자수
V4  3,632    1,423    13
V5  252      114      1
V6  226      80       -
V7  306      106      2
V8  284      113      1
V9  281      128      -
V10 325      109      2
V11 324      126      2
V12 301      120      3
V13 270      137      1
V14 314      149      1
V15 360      126      -
V16 389      115      -
V1  기간     2011     2011
V2  자치구별 합계     합계
V3  구분     발생건수 사망자수
V4  합계     40,451   435
V5  1월      3,038    36
V6  2월      2,573    32
V7  3월      3,126    20
V8  4월      3,450    44
V9  5월      3,603    36
V10 6월      3,390    37
V11 7월      3,529    36
V12 8월      3,360    50
V13 9월      3,433    37
V14 10월     3,734    25
V15 11월     3,701    40
V16 12월     3,514    42
V1  2011     2011     2011
V2  합계     종로구   종로구
V3  부상자수 발생건수 사망자수
V4  57,625   1,421    14
V5  4,429    115      2
V6  3,734    99       -
V7  4,513    116      -
V8  4,905    110      1
V9  5,036    122      -
V10 4,831    116      3
V11 5,067    103      1
V12 4,823    122      1
V13 4,893    121      2
V14 5,244    135      2
V15 5,150    140      1
V16 5,000    122      1