# JSON(JavaScript Object Notation)
JSON은 경량의 데이터 표현 형식으로 최근에는 웹, 모바일 등을 중심으로 서로 다른 플랫폼간의 데이터 교환을 위하여 활용되고 있는 사실상의 산업 표준 입니다.   
특히 OpenAPI등을 통해 다른 곳에서 제공하는 데이터를 수집할 경우 JSON 형식으로 되어 있는 경우가 많기 때문에    
R에서도 HTTP 통신을 기반으로 OpenAPI로부터 JSON 형식의 데이터를 수집하고 이를 데이터 프레임으로 변환하는 기능을 제공하고 있습니다.

## JSON 구조와 이해

### 이름(key)와 값(value)의 쌍을 이루는 구조   
{ "이름": "값", "이름": "값" ... }

### 값을 배열 형식으로 구성가능
{ "이름": [ "값0", "값1", "값2" ] }

### 계층화 된 데이터의 표현
{   
&nbsp;    "이름": { "이름": "값", "이름": "값" },   
&nbsp;    "이름": { "이름": "값", "이름": "값" }   
};

### 목록형 데이터의 표현
{ "article" : [   
&nbsp;    {"subject": "글 제목", "content": "글 내용", "writer": "작성자", "date": "작성일"},   
&nbsp;    {"subject": "글 제목", "content": "글 내용", "writer": "작성자", "date": "작성일"},   
&nbsp;    ...   
&nbsp;    {"subject": "글 제목", "content": "글 내용", "writer": "작성자", "date": "작성일"}   
]}

In [1]:
# 필요한 패키지 로드 하기

library(httr)
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
#if (!require(rjson))  install.packages("rjson", repos="https://cran.seoul.go.kr/")
library(rjson) # Anaconda 에서 설치

## 서버에서 데이터 불러오기

In [3]:
simple_json_url <- "https://zeushahn.github.io/Test/R/simple.json"
simple_resp <- GET(simple_json_url)
simple_resp

Response [https://zeushahn.github.io/Test/R/simple.json]
  Date: 2022-04-21 04:57
  Status: 200
  Content-Type: application/json; charset=utf-8
  Size: 103 B
{
    "name": "갤럭시 S6",
    "type": "삼성",
    "img": "http://localhost:8080/R/GalaxyS6.png"

## 가져온 데이터를 R에서 활용하기 위해 변환하기

In [4]:
# 텍스트 형식으로 추출

simple_text <- content(simple_resp, as="text", encoding="utf-8")
simple_text

[1] "{\n    \"name\": \"갤럭시 S6\",\n    \"type\": \"삼성\",\n    \"img\": \"http://localhost:8080/R/GalaxyS6.png\"\n}"

In [5]:
# R의 list 타입으로 변환, as="parse"

simple_list <- content(simple_resp, as="parse", encoding="utf-8")
class(simple_list)
simple_list

[1] "list"

$name
[1] "갤럭시 S6"

$type
[1] "삼성"

$img
[1] "http://localhost:8080/R/GalaxyS6.png"

## 변환된 데이터의 하위 요소에 접근하기

In [6]:
simple_list$name
simple_list$type
simple_list$img

[1] "갤럭시 S6"

[1] "삼성"

[1] "http://localhost:8080/R/GalaxyS6.png"

# 계층화된 구조에 접근하기

In [10]:
# 가져올 데이터 URL

phone_json_url <- "https://zeushahn.github.io/Test/R/phone.json"

# 데이터 가져오기
phone_resp <- GET(phone_json_url)
phone_resp

Response [https://zeushahn.github.io/Test/R/phone.json]
  Date: 2022-04-21 04:59
  Status: 200
  Content-Type: application/json; charset=utf-8
  Size: 253 B
{
	"rt": "OK",
	"rtmsg": "SUCCESS",
    "item": {
        "name": "갤럭시 S6",
        "type": "삼성",
        "img": "http://localhost:8080/img/GalaxyS6.png",
        "price": {
        	"fixed": 1000000,
        	"sale": 850000
...

In [11]:
# 가져온 데이터를 R에서 활용하기 위해 변환하기

phone_list <- content(phone_resp, as="parse", encoding="utf-8")
phone_list

$rt
[1] "OK"

$rtmsg
[1] "SUCCESS"

$item
$item$name
[1] "갤럭시 S6"

$item$type
[1] "삼성"

$item$img
[1] "http://localhost:8080/img/GalaxyS6.png"

$item$price
$item$price$fixed
[1] 1000000

$item$price$sale
[1] 850000

In [12]:
# 변환된 데이터의 하위 요소에 접근하기

phone_list$rt
phone_list$rtmsg
phone_list$item$name
phone_list$item$type
phone_list$item$img
phone_list$item$price$fixed
phone_list$item$price$sale

[1] "OK"

[1] "SUCCESS"

[1] "갤럭시 S6"

[1] "삼성"

[1] "http://localhost:8080/img/GalaxyS6.png"

[1] 1000000

[1] 850000

# 목록 형식의 구조에 접근하기

In [16]:
# JSON List URL

list_json_url <- "https://zeushahn.github.io/Test/R/student.json"

# 데이터 가져오기
list_resp <- GET(list_json_url)
list_resp

Response [https://zeushahn.github.io/Test/R/student.json]
  Date: 2022-04-21 05:00
  Status: 200
  Content-Type: application/json; charset=utf-8
  Size: 171 B
{
	"student": [
			{"name":"철수","math":85,"kor":80,"eng":70},
			{"name":"영이","math":92,"kor":70,"eng":85},
			{"name":"순이","math":61,"kor":100,"eng":72}
	]
}

In [17]:
# 가져온 데이터를 R에서 활용하기 위해 변환하기

student_list <- content(list_resp, as="parse", encoding="utf-8")
student_list

$student
$student[[1]]
$student[[1]]$name
[1] "철수"

$student[[1]]$math
[1] 85

$student[[1]]$kor
[1] 80

$student[[1]]$eng
[1] 70


$student[[2]]
$student[[2]]$name
[1] "영이"

$student[[2]]$math
[1] 92

$student[[2]]$kor
[1] 70

$student[[2]]$eng
[1] 85


$student[[3]]
$student[[3]]$name
[1] "순이"

$student[[3]]$math
[1] 61

$student[[3]]$kor
[1] 100

$student[[3]]$eng
[1] 72

In [18]:
# DataFrame으로 변환

stud_df <- bind_rows(student_list$student)
stud_df

  name math kor eng
1 철수 85    80 70
2 영이 92    70 85
3 순이 61   100 72

### 데이터 전처리

In [19]:
# 컬럼이름 변경

new <- rename(stud_df, '이름'=name, '수학'=math, '국어'=kor, '영어'=eng)
new

  이름 수학 국어 영어
1 철수 85    80  70
2 영이 92    70  85
3 순이 61   100  72

In [20]:
# 총점,평균

df <- new %>%
        mutate(총점=수학+국어+영어, 평균=총점/3)
df

  이름 수학 국어 영어 총점 평균
1 철수 85    80  70   235  78.33333
2 영이 92    70  85   247  82.33333
3 순이 61   100  72   233  77.66667

# JSON File로 읽기

In [21]:
library(jsonlite) # file로 구성된 json 읽어오기

Attaching package: ‘jsonlite’

The following objects are masked from ‘package:rjson’:

    fromJSON, toJSON

In [22]:
# 파일 불러오기

student_list <- fromJSON("../Data/student.json")
student_list
class(student_list)

$student
  name math kor eng
1 철수   85  80  70
2 영이   92  70  85
3 순이   61 100  72

[1] "list"

In [23]:
# DataFrame으로 변환

student_df <- as.data.frame(student_list)
student_df

  student.name student.math student.kor student.eng
1 철수         85            80         70
2 영이         92            70         85
3 순이         61           100         72

In [24]:
# 컬럼이름 변경

new_df <- rename(student_df, '이름'=student.name, '수학'=student.math, '국어'=student.kor, '영어'=student.eng)
new_df

  이름 수학 국어 영어
1 철수 85    80  70
2 영이 92    70  85
3 순이 61   100  72

In [25]:
# 총점,평균

df <- new_df %>%
        mutate(총점=수학+국어+영어, 평균=총점/3)
df

  이름 수학 국어 영어 총점 평균
1 철수 85    80  70   235  78.33333
2 영이 92    70  85   247  82.33333
3 순이 61   100  72   233  77.66667