In [111]:
seoul <- read.csv("../R_yang/newSeoul2019.csv")

In [112]:
library(dplyr)

In [113]:
seoulyear <- subset(seoul, seoul$년도 == 2013 | seoul$년도 == 2014 | seoul$년도 == 2015 | seoul$년도 == 2016 | seoul$년도 == 2017 | seoul$년도 == 2018 | seoul$년도 == 2019)
head(seoulyear)

    년도 월 자치구명 발생건수 사망자수 부상자수
601 2013 1  종로구   109      3        154
602 2013 2  종로구    90      1        130
603 2013 3  종로구   122      1        173
604 2013 4  종로구   118      0        169
605 2013 5  종로구   102      1        153
606 2013 6  종로구   127      0        175

In [114]:
seoulMonths <- data.frame(월=seoulyear$월,발생건수=seoulyear$발생건수,부상자수=seoulyear$부상자수,사망자수=seoulyear$사망자수)
head(seoulMonths)

  월 발생건수 부상자수 사망자수
1 1  109      154      3
2 2   90      130      1
3 3  122      173      1
4 4  118      169      0
5 5  102      153      1
6 6  127      175      0

In [115]:
seoulyear <- subset(seoulMonths,월 == 1)

seoulMonth3 <- data.frame(월=1,발생건수=sum(seoulyear$발생건수),부상자수=sum(seoulyear$부상자수),사망자수=sum(seoulyear$사망자수))

In [116]:
 for(i in 2:12){
seoulyear <- subset(seoulMonths,월 == i)
seoulMonth3 <- rbind(seoulMonth3,data.frame(월=i,발생건수=sum(seoulyear$발생건수),부상자수=sum(seoulyear$부상자수),사망자수=sum(seoulyear$사망자수)))
}

arrange(seoulMonth3,(사망자수))

   월 발생건수 부상자수 사망자수
1   8 23611    33060    165
2   2 18703    26553    173
3   4 23355    32667    184
4   6 23611    32885    186
5   7 24070    33515    194
6   5 24779    34449    204
7   3 22654    31480    208
8  11 24540    33812    208
9   1 21060    30440    210
10  9 23731    32746    211
11 12 23297    33001    220
12 10 25202    35288    236

In [142]:
txtEmp <- read.table("../R_yang/fast.txt", header = T, sep = "", stringsAsFactors = F)
txtEmp2 <- subset(txtEmp,분류 == '전체')
colnames(txtEmp2) = c('기간','대분류','분류','평균','1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월')
txtEmp2

    기간 대분류 분류 평균 1월  2월  3월  4월  5월  6월  7월  8월  9월  10월
1   2013 전체   전체 26.4 27.5 27.2 28.0 28.0 27.5 26.4 25.2 25.6 25.5 25.1
29  2014 전체   전체 25.7 27.1 27.1 26.3 25.9 25.3 25.5 25.5 25.3 25.4 25.3
57  2015 전체   전체 25.2 25.8 25.0 25.5 25.3 25.5 25.8 25.4 25.4 24.6 24.8
85  2016 전체   전체 24.2 25.1 24.6 24.2 24.2 24.2 24.4 24.1 23.8 24.0 23.8
113 2017 전체   전체 24.2 24.6 24.5 24.8 24.5 24.8 24.4 23.8 23.9 23.3 24.7
141 2018 전체   전체 23.9 24.7 24.0 24.2 23.9 23.8 23.9 23.6 23.8 23.8 23.8
169 2019 전체   전체 23.8 24.3 24.4 24.2 23.8 23.9 24.1 23.6 23.4 23.4 23.4
    11월 12월
1   24.9 26.1
29  25.0 24.8
57  24.4 24.6
85  23.6 24.1
113 23.5 23.7
141 23.6 23.8
169 22.9 23.7

In [150]:
txt3 <- c(sum(txtEmp2[5])/7,sum(txtEmp2[6])/7,sum(txtEmp2[7])/7,sum(txtEmp2[8])/7,sum(txtEmp2[9])/7,sum(txtEmp2[10])/7,sum(txtEmp2[11])/7,sum(txtEmp2[12])/7)

In [136]:
txt

[1] 25.58571 25.25714 25.31429 25.08571 25.00000 24.92857 24.45714 24.45714

In [151]:
cor(txt,seoulMonth3$발생건수)

ERROR: Error in cor(txt, seoulMonth3$발생건수): 호환되지 않는 차원들입니다