In [1]:
rep(c("red","blue"),10)

 [1] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[11] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"

In [2]:
# 1부터 5까지 홀수, 1~10, 1~10 홀수, 1 2 3 반복
seq(1,5,2)
1:10
seq(1,10,2)
rep(1:3,2)

[1] 1 3 5

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1 3 5 7 9

[1] 1 2 3 1 2 3

In [3]:
print(c(seq(1,5,2),1:10,seq(1,10,2),rep(1:3,2)))

 [1]  1  3  5  1  2  3  4  5  6  7  8  9 10  1  3  5  7  9  1  2  3  1  2  3

In [4]:
# iris의 1~5번째 줄의 데이터만 추출해서 변수 만들기
head(iris, 5)
irisHead <- iris[1:5,]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [5]:
# 행렬 변환
t(irisHead)

             1      2      3      4      5
Sepal.Length 5.1    4.9    4.7    4.6    5.0
Sepal.Width  3.5    3.0    3.2    3.1    3.6
Petal.Length 1.4    1.4    1.3    1.5    1.4
Petal.Width  0.2    0.2    0.2    0.2    0.2
Species      setosa setosa setosa setosa setosa

In [6]:
# iris에서 150데이터 중 10 부터 10씩 증가하여 15개만 Sampling 하기
iris[seq(0,150,10),]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
10  4.9          3.1         1.5          0.1         setosa
20  5.1          3.8         1.5          0.3         setosa
30  4.7          3.2         1.6          0.2         setosa
40  5.1          3.4         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
60  5.2          2.7         3.9          1.4         versicolor
70  5.6          2.5         3.9          1.1         versicolor
80  5.7          2.6         3.5          1.0         versicolor
90  5.5          2.5         4.0          1.3         versicolor
100 5.7          2.8         4.1          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
120 6.0          2.2         5.0          1.5         virginica
130 7.2          3.0         5.8          1.6         virginica
140 6.9          3.1         5.4          2.1         virginica
150 5.9          3.0         5.1          1.8         virginica

In [7]:
length(iris$Sepal.Length)

[1] 150

In [8]:
length(iris)

[1] 5

In [9]:
nrow(iris) # row수
ncol(iris) # Column수

[1] 150

[1] 5

In [10]:
# iris의 Sepal.Length의 최대값과 최소값의 차이가 평균보다 큰지 확인
max(iris$Sepal.Length) - min(iris$Sepal.Length)
mean(iris$Sepal.Length)
max(iris$Sepal.Length) - min(iris$Sepal.Length) > mean(iris$Sepal.Length)

[1] 3.6

[1] 5.843333

[1] FALSE

In [11]:
iris[1:10,1:2]

iris[1:10,c("Sepal.Length","Sepal.Width")]

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

In [12]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [13]:
tail(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [14]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [15]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [16]:
# factor Type인 Species에서 문자와 숫자로 각각 가져오기
print(as.character(iris$Species))

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"

In [17]:
print(as.numeric(iris$Species))

  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

---
# 벡터계산

In [18]:
x <- c(3,6,9,12,15)
print(x + 1)

[1]  4  7 10 13 16

In [19]:
print(x + 1:5)

[1]  4  8 12 16 20

In [20]:
print(x + 1:length(x))

[1]  4  8 12 16 20

In [21]:
# 벡터 합치기
x <- c(3,5,6,12,15)
y <- 1:5
append(x,y)

 [1]  3  5  6 12 15  1  2  3  4  5

In [22]:
length(append(iris$Sepal.Length, iris$Sepal.Width))

[1] 300

In [23]:
c(iris$Sepal.Length, iris$Sepal.Width)

  [1] 5.1 4.9 4.7 4.6 5.0 5.4 4.6 5.0 4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 [19] 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.0 5.0 5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.0
 [37] 5.5 4.9 4.4 5.1 5.0 4.5 4.4 5.0 5.1 4.8 5.1 4.6 5.3 5.0 7.0 6.4 6.9 5.5
 [55] 6.5 5.7 6.3 4.9 6.6 5.2 5.0 5.9 6.0 6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 [73] 6.3 6.1 6.4 6.6 6.8 6.7 6.0 5.7 5.5 5.5 5.8 6.0 5.4 6.0 6.7 6.3 5.6 5.5
 [91] 5.5 6.1 5.8 5.0 5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
[109] 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.0 6.9 5.6 7.7 6.3 6.7 7.2
[127] 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.0 6.9 6.7 6.9 5.8 6.8
[145] 6.7 6.7 6.3 6.5 6.2 5.9 3.5 3.0 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 3.7 3.4
[163] 3.0 3.0 4.0 4.4 3.9 3.5 3.8 3.8 3.4 3.7 3.6 3.3 3.4 3.0 3.4 3.5 3.4 3.2
[181] 3.1 3.4 4.1 4.2 3.1 3.2 3.5 3.6 3.0 3.4 3.5 2.3 3.2 3.5 3.8 3.0 3.8 3.2
[199] 3.7 3.3 3.2 3.2 3.1 2.3 2.8 2.8 3.3 2.4 2.9 2.7 2.0 3.0 2.2 2.9 2.9 3.1
[217] 3.0 2.7 2.2 2.5 3.2 2.8 2.5 2.8 2.9 3.0 2.8 3.0 2.9 2.6 2.4 2.4 2.7 2.7
[235] 3.0 3.4 3.1 2.3 3.0 2.5 2.6 3.0 2.6 2.3 2.7 3.0 2.9 2.9 2.5 2.8 3.3 2.7
[253] 3.0 2.9 3.0 3.0 2.5 2.9 2.5 3.6 3.2 2.7 3.0 2.5 2.8 3.2 3.0 3.8 2.6 2.2
[271] 3.2 2.8 2.8 2.7 3.3 3.2 2.8 3.0 2.8 3.0 2.8 3.8 2.8 2.8 2.6 3.0 3.4 3.1
[289] 3.0 3.1 3.1 3.1 2.7 3.2 3.3 3.0 2.5 3.0 3.4 3.0

In [24]:
# iris의 Sepal.Length의 중복 되지 않는 갯수의 percent 구하기
paste(round(length(unique(iris$Sepal.Length))/length(iris$Sepal.Length)*100,1),"%")

[1] "23.3 %"

In [25]:
round((1-(length(unique(iris$Sepal.Length))/length(iris$Sepal.Length)))*100,1)

[1] 76.7

# 문자열 관련 함수

In [26]:
x <- c('a','b','c','d','e')
print(x)
print(x[1:2])
paste(x[1],x[2])

[1] "a" "b" "c" "d" "e"
[1] "a" "b"

[1] "a b"

In [27]:
paste("Hello", "World!")

[1] "Hello World!"

In [28]:
cat("Hello\nWorld")

Hello
World

In [29]:
cat("Hello\tWorld\tojo")

Hello	World	ojo

In [30]:
paste("010","1111","2222",sep="-")

[1] "010-1111-2222"

In [31]:
str01 <- "abcdefghijklmn"
substring(str01, 2, 5)
str02 <- "가나다라마바사"
substring(str02, 3,5)

[1] "bcde"

[1] "다라마"

In [32]:
# Ex : 출력되는 x중 4와 7사이에 있는 것은 몇개인가
set.seed(123)
x <- runif(5, 1, 20)
print(x)

[1]  6.463973 15.977798  8.770562 17.777331 18.868878

In [33]:
sum((x > 4 & x < 7)== 0)
x

[1] 4

[1]  6.463973 15.977798  8.770562 17.777331 18.868878

# 행렬

In [34]:
# 행렬 : 2차원 자료를 저장하는 자료형
# 행렬은 데이터 형태가 모두 일치 되어야 구성

# Vector로 행렬 만들기
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

In [35]:
# 열로 붙이기 : rbind (row binding)
mat1 <- rbind(vec1,vec2,vec3)
mat1

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

In [36]:
# 열로 붙이기 : cbind(column binding)
mat2 <- cbind(vec1, vec2, vec3)

In [37]:
# iris의 1~5번 데이터만 추출하여 irisHead라는 변수에 넣기
irisHead <- head(iris, 5)

# irisHead에 새로운 데이터 1,1,1,1,setosa 추가하기

In [38]:
newData <- c(1,1,1,1,"setosa")

In [39]:
irisHead <- rbind(irisHead,newData)

In [40]:
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3           1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5            3.6         1.4          0.2         setosa
6 1            1           1            1           setosa

In [41]:
# irisHead abc라는 컬럼과 2,2,2,2,2,2의 데이터 추가하기

In [42]:
abc <- c(rep(2,6))
irisHead <- cbind(irisHead,abc)

In [43]:
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3           1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5            3.6         1.4          0.2         setosa  2
6 1            1           1            1           setosa  2

In [44]:
# iris의 1~5번 데이터만 추출하여 irisHead라는 데이터셋 만들기

irisHead <- iris[1:5,]
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [45]:
cbind(irisHead,Length=irisHead$Sepal.Length+irisHead$Petal.Length)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [46]:
#irisHead <- cbind(irisHead,Length=irisHead$Sepal.Length+irisHead$Petal.Length)
irisHead <- head(irisHead)
#irisHead$Length <- irisHead$Sepal.Length + irisHead.Petal.Length#
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [47]:
cbind(irisHead, Length = irisHead$Sepal.Length + irisHead$Petal.Length)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [48]:
class(irisHead)

[1] "data.frame"

In [49]:
# iris에서 Sepal.Length와 Sepal.Width만 추출하여 irisM이라는 데이터프레임 만들기
sl <- iris$Sepal.Length
sw <- iris$Sepal.Width
irisM <- cbind(sl,sw)
head(irisM)

     sl  sw
[1,] 5.1 3.5
[2,] 4.9 3.0
[3,] 4.7 3.2
[4,] 4.6 3.1
[5,] 5.0 3.6
[6,] 5.4 3.9

In [50]:
class(irisM)

[1] "matrix"

In [51]:
irisM <- as.data.frame(irisM)

In [52]:
class(irisM)

[1] "data.frame"

In [53]:
# mat1의 컬럼 이름 추가
mat1
colnames(mat1) <- c("A","B","C")
mat1

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

In [54]:
mat1D <- as.data.frame(mat1)
mat1D

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

In [55]:
class(mat1D)

[1] "data.frame"

In [56]:
#mat2에 로우 이름 추가

print(mat2)
rownames(mat2) <- 1:3
print(mat2)
mat2D <- as.data.frame(mat2)

     vec1 vec2 vec3
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9
  vec1 vec2 vec3
1    1    4    7
2    2    5    8
3    3    6    9

In [57]:
# mat1D와 mat2D를 하나의 DataSet으로 만들기

print(mat1D)
rownames(mat1) <- 1:3
t(mat2D)
mat3D <- rbind(mat1D,mat2D)
mat3D

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     1 2 3
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

ERROR: Error in match.names(clabs, names(xi)): names do not match previous names

In [ ]:
print(mat1D)
print(mat2D)

In [ ]:
colnames(mat2D) <- colnames(mat1D)

In [ ]:
rbind(mat1D,mat2D)

# DataFrame

---
# DataFrame
- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [113]:
# 벡터로 데이터 프레임 만들기

no <- 1:4
name <- c('Apple','Banana','Peach','Berry')
price <- c(500,400,300,200)
qty <- c(5,2,7,9)

In [114]:
fruit <- data.frame(no,name,price,qty)

In [115]:
colnames(fruit) <- c("번호","상품명","금액","수량", stringAsFactor=F)

ERROR: Error in names(x) <- value: 'names' 속성 [5]는 반드시 벡터 [4]와 같은 길이를 가져야 합니다

In [116]:
fruit

  no name   price qty
1 1  Apple  500   5
2 2  Banana 400   2
3 3  Peach  300   7
4 4  Berry  200   9

In [117]:
str(fruit)

'data.frame':	4 obs. of  4 variables:
 $ no   : int  1 2 3 4
 $ name : Factor w/ 4 levels "Apple","Banana",..: 1 2 4 3
 $ price: num  500 400 300 200
 $ qty  : num  5 2 7 9

In [118]:
summary(fruit)

       no           name       price          qty
 Min.   :1.00   Apple :1   Min.   :200   Min.   :2.00
 1st Qu.:1.75   Banana:1   1st Qu.:275   1st Qu.:4.25
 Median :2.50   Berry :1   Median :350   Median :6.00
 Mean   :2.50   Peach :1   Mean   :350   Mean   :5.75
 3rd Qu.:3.25              3rd Qu.:425   3rd Qu.:7.50
 Max.   :4.00              Max.   :500   Max.   :9.00

In [119]:
# fruit에서 상품명과 재고량만 보기
fruit

  no name   price qty
1 1  Apple  500   5
2 2  Banana 400   2
3 3  Peach  300   7
4 4  Berry  200   9

In [72]:
fruit[c("name","qty")]

  name   qty
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

In [73]:
fruit[2]

  name
1 Apple
2 Banana
3 Peach
4 Berry

In [75]:
# fruit에서 번호를 제외한 모든 내용 보기
fruit[,-1]

  name   price qty
1 Apple  500   5
2 Banana 400   2
3 Peach  300   7
4 Berry  200   9

In [93]:
fruit[-c(2,4),-1]

  name  price qty
1 Apple 500   5
3 Peach 300   7

In [94]:
#재고금액(금액*재고량)이라는 컬럼 생성하여 fruit에 붙이기

ERROR: Error in parse(text = x, srcfile = src): <text>:1:13: 예상하지 못한 기호(symbol)입니다.
1: 재고금액(금액*재고량)이라는
                ^

In [123]:
colnames(fruit)=c("순번이름","이름","가격","재고량")
fruit
cbind(fruit,재고금액=price*qty)
fruit <-cbind(fruit,재고금액=price*qty)

  순번이름 이름   가격 재고량
1 1        Apple  500  5
2 2        Banana 400  2
3 3        Peach  300  7
4 4        Berry  200  9

  순번이름 이름   가격 재고량 재고금액
1 1        Apple  500  5      2500
2 2        Banana 400  2       800
3 3        Peach  300  7      2100
4 4        Berry  200  9      1800

In [124]:
cbind(fruit,원산지=c("한국","태국","한국","중국"))

  순번이름 이름   가격 재고량 재고금액 원산지
1 1        Apple  500  5      2500     한국
2 2        Banana 400  2       800     태국
3 3        Peach  300  7      2100     한국
4 4        Berry  200  9      1800     중국

# 외부파일 가져오기

In [162]:
# txt File 불러오기

txtEmp <- read.table("../R_yang/emp.txt", header = T, sep = "\t", stringsAsFactors = F)
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [163]:
str(txtEmp)

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: chr  "hong" "lee" "kim"
 $ 급여: int  150 250 300

In [164]:
#csv(Comma Seperated Value)
csvEmp <- read.csv("../R_yang/emp2.csv", header = F)
#사번, 이름, 급여로 컬럼 변경하기
colnames(csvEmp)=c("사번","이름","급여")
csvEmp

  사번 이름   급여
1 101  홍길동 150
2 102  이순신 450
3 103  강감찬 500
4 104  유관순 350
5 105  김유신 400