In [1]:
rep(c("red","blue"),10)

Couldn't evaluate or find in history: (c("red","blue"),10)

In [2]:
# 1부터 5까지 홀수, 1~10, 1~10 홀수, 1 2 3 반복
seq(1,5,2)
1:10
seq(1,10,2)
rep(1:3,2)

SyntaxError: illegal target for annotation (1549545538.py, line 3)

In [ ]:
print(c(seq(1,5,2),1:10,seq(1,10,2),rep(1:3,2)))

In [ ]:
# iris의 1~5번째 줄의 데이터만 추출해서 변수 만들기
head(iris, 5)
irisHead <- iris[1:5,]

In [ ]:
# 행렬 변환
t(irisHead)

In [ ]:
# iris에서 150데이터 중 10 부터 10씩 증가하여 15개만 Sampling 하기
iris[seq(0,150,10),]

In [ ]:
length(iris$Sepal.Length)

In [ ]:
length(iris)

In [3]:
nrow(iris) # row수
ncol(iris) # Column수

NameError: name 'nrow' is not defined

In [ ]:
# iris의 Sepal.Length의 최대값과 최소값의 차이가 평균보다 큰지 확인
max(iris$Sepal.Length) - min(iris$Sepal.Length)
mean(iris$Sepal.Length)
max(iris$Sepal.Length) - min(iris$Sepal.Length) > mean(iris$Sepal.Length)

In [ ]:
iris[1:10,1:2]

iris[1:10,c("Sepal.Length","Sepal.Width")]

In [ ]:
head(iris)

In [ ]:
tail(iris)

In [ ]:
str(iris)

In [ ]:
summary(iris)

In [ ]:
# factor Type인 Species에서 문자와 숫자로 각각 가져오기
print(as.character(iris$Species))

In [ ]:
print(as.numeric(iris$Species))

---
# 벡터계산

In [ ]:
x <- c(3,6,9,12,15)
print(x + 1)

In [ ]:
print(x + 1:5)

In [ ]:
print(x + 1:length(x))

In [ ]:
# 벡터 합치기
x <- c(3,5,6,12,15)
y <- 1:5
append(x,y)

In [ ]:
length(append(iris$Sepal.Length, iris$Sepal.Width))

In [ ]:
c(iris$Sepal.Length, iris$Sepal.Width)

In [ ]:
# iris의 Sepal.Length의 중복 되지 않는 갯수의 percent 구하기
paste(round(length(unique(iris$Sepal.Length))/length(iris$Sepal.Length)*100,1),"%")

In [ ]:
round((1-(length(unique(iris$Sepal.Length))/length(iris$Sepal.Length)))*100,1)

# 문자열 관련 함수

In [ ]:
x <- c('a','b','c','d','e')
print(x)
print(x[1:2])
paste(x[1],x[2])

In [ ]:
paste("Hello", "World!")

In [ ]:
cat("Hello\nWorld")

In [ ]:
cat("Hello\tWorld\tojo")

In [ ]:
paste("010","1111","2222",sep="-")

In [ ]:
str01 <- "abcdefghijklmn"
substring(str01, 2, 5)
str02 <- "가나다라마바사"
substring(str02, 3,5)

In [ ]:
# Ex : 출력되는 x중 4와 7사이에 있는 것은 몇개인가
set.seed(123)
x <- runif(5, 1, 20)
print(x)

In [ ]:
sum((x > 4 & x < 7)== 0)
x

# 행렬

In [ ]:
# 행렬 : 2차원 자료를 저장하는 자료형
# 행렬은 데이터 형태가 모두 일치 되어야 구성

# Vector로 행렬 만들기
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

In [ ]:
# 열로 붙이기 : rbind (row binding)
mat1 <- rbind(vec1,vec2,vec3)
mat1

In [ ]:
# 열로 붙이기 : cbind(column binding)
mat2 <- cbind(vec1, vec2, vec3)

In [ ]:
# iris의 1~5번 데이터만 추출하여 irisHead라는 변수에 넣기
irisHead <- head(iris, 5)

# irisHead에 새로운 데이터 1,1,1,1,setosa 추가하기

In [ ]:
newData <- c(1,1,1,1,"setosa")

In [ ]:
irisHead <- rbind(irisHead,newData)

In [ ]:
irisHead

In [ ]:
# irisHead abc라는 컬럼과 2,2,2,2,2,2의 데이터 추가하기

In [ ]:
abc <- c(rep(2,6))
irisHead <- cbind(irisHead,abc)

In [ ]:
irisHead

In [ ]:
# iris의 1~5번 데이터만 추출하여 irisHead라는 데이터셋 만들기

irisHead <- iris[1:5,]
irisHead

In [ ]:
cbind(irisHead,Length=irisHead$Sepal.Length+irisHead$Petal.Length)

In [ ]:
#irisHead <- cbind(irisHead,Length=irisHead$Sepal.Length+irisHead$Petal.Length)
irisHead <- head(irisHead)
#irisHead$Length <- irisHead$Sepal.Length + irisHead.Petal.Length#
irisHead

In [ ]:
cbind(irisHead, Length = irisHead$Sepal.Length + irisHead$Petal.Length)

In [ ]:
class(irisHead)

In [ ]:
# iris에서 Sepal.Length와 Sepal.Width만 추출하여 irisM이라는 데이터프레임 만들기
sl <- iris$Sepal.Length
sw <- iris$Sepal.Width
irisM <- cbind(sl,sw)
head(irisM)

In [ ]:
class(irisM)

In [ ]:
irisM <- as.data.frame(irisM)

In [ ]:
class(irisM)

In [ ]:
# mat1의 컬럼 이름 추가
mat1
colnames(mat1) <- c("A","B","C")
mat1

In [ ]:
mat1D <- as.data.frame(mat1)
mat1D

In [ ]:
class(mat1D)

In [ ]:
#mat2에 로우 이름 추가

print(mat2)
rownames(mat2) <- 1:3
print(mat2)
mat2D <- as.data.frame(mat2)

In [ ]:
# mat1D와 mat2D를 하나의 DataSet으로 만들기

print(mat1D)
rownames(mat1) <- 1:3
t(mat2D)
mat3D <- rbind(mat1D,mat2D)
mat3D

In [ ]:
print(mat1D)
print(mat2D)

In [ ]:
colnames(mat2D) <- colnames(mat1D)

In [ ]:
rbind(mat1D,mat2D)

# DataFrame

---
# DataFrame
- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [ ]:
# 벡터로 데이터 프레임 만들기

no <- 1:4
name <- c('Apple','Banana','Peach','Berry')
price <- c(500,400,300,200)
qty <- c(5,2,7,9)

In [ ]:
fruit <- data.frame(no,name,price,qty)

In [ ]:
colnames(fruit) <- c("번호","상품명","금액","수량", stringAsFactor=F)

In [ ]:
fruit

In [ ]:
str(fruit)

In [ ]:
summary(fruit)

In [ ]:
# fruit에서 상품명과 재고량만 보기
fruit

In [ ]:
fruit[c("name","qty")]

In [ ]:
fruit[2]

In [ ]:
# fruit에서 번호를 제외한 모든 내용 보기
fruit[,-1]

In [ ]:
fruit[-c(2,4),-1]

In [ ]:
#재고금액(금액*재고량)이라는 컬럼 생성하여 fruit에 붙이기

In [ ]:
colnames(fruit)=c("순번이름","이름","가격","재고량")
fruit
cbind(fruit,재고금액=price*qty)
fruit <-cbind(fruit,재고금액=price*qty)

In [ ]:
cbind(fruit,원산지=c("한국","태국","한국","중국"))

# 외부파일 가져오기

In [ ]:
# txt File 불러오기

txtEmp <- read.table("../R_yang/emp.txt", header = T, sep = "\t", stringsAsFactors = F)
txtEmp

In [ ]:
str(txtEmp)

In [ ]:
#csv(Comma Seperated Value)
csvEmp <- read.csv("../R_yang/emp2.csv", header = F)
#사번, 이름, 급여로 컬럼 변경하기
colnames(csvEmp)=c("사번","이름","급여")
csvEmp

# 3일차 0427

In [2]:
df <- data.frame(x=1:5, y=seq(2,10,2), z=c('a','b','c','d','e'))
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [19]:
# x칼럼의 합계는 15이고 y컬럼의 합계는 30입니다.
cat('x칼럼의 합계는',sum(df$x),'이고 y칼럼의 합계는',sum(df$y))

x칼럼의 합계는 15 이고 y칼럼의 합계는 30

# 함수를 부르는 함수

In [6]:
apply(df[,1:2], 2, sum)
apply(df[,1:2], 2, mean)
apply(df[,1:2], 2, sd)

 x  y
15 30

x y
3 6

       x        y
1.581139 3.162278

In [13]:
# 데이터 프레임에 함수 적용 (행방향)
df
apply(df[,1:2], 1, sum)
apply(df[,1:2], 1, mean)
apply(df[,1:2], 1, sd)

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

[1]  3  6  9 12 15

[1] 1.5 3.0 4.5 6.0 7.5

[1] 0.7071068 1.4142136 2.1213203 2.8284271 3.5355339

In [43]:
#df에 Hap이라는 칼럼 만들어서 행방향의 합계 구하기
df$Hap=apply(df[,1:2], 1, sum)
df

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

In [20]:
#부분집합

subset(df, x>=3)

  x y  z Hap
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

In [41]:
# x칼럼과 y칼럼의 합계 구하기
apply(subset(df, x>=3 & y>=8)[,1:2], 2, sum)

 x  y
 9 18

### 두개 이상의 데이터프레임 병합하기

In [54]:
# case 1: Key값이 되는 컬럼이 동일하고, data의 갯수도 동일한 경우

height <- data.frame(id=1:3, height=c(160,170,180));
height
weight <-  data.frame(id=c(2,1,3), weight=c(70,60,80));
weight

  id height
1 1  160
2 2  170
3 3  180

  id weight
1 2  70
2 1  60
3 3  80

In [52]:
merge(height, weight)

  id height weight
1 1  160    60
2 2  170    70
3 3  180    80

In [56]:


# case 2: Key값이 되는 컬럼이 동일하지않고, data의 갯수 다를 경우
height <- data.frame(id=1:3, height=c(160,170,180)); height
weight <-  data.frame(ad=c(2,1), weight=c(70,60));

  id height
1 1  160
2 2  170
3 3  180

  id height ad weight
1 1  160    2  70
2 2  170    2  70
3 3  180    2  70
4 1  160    1  60
5 2  170    1  60
6 3  180    1  60

In [57]:
# key를 정의하기 : data가 적은 쪽의 기준으로 merge한다.

merge(x=height, y=weight, by.x='id', by.y='ad')

  id height weight
1 1  160    60
2 2  170    70

In [58]:
# Data가 많은쪽 기준으로 merge
merge(x=height, y=weight, by.x='id', by.y='ad', all.x = T)

  id height weight
1 1  160    60
2 2  170    70
3 3  180    NA

In [59]:
### 행렬 함수로 행렬 만들기
matrix(1:10)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

In [70]:
matrix(1:10, ncol=3, nrow=3)

Warning message in matrix(1:10, ncol = 3, nrow = 3):
“데이터의 길이[10]가 행의 개수[3]의 배수가 되지 않습니다”

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

### List
- Type이 다른 자료구조로 생성이 가능하다.
- key와 value값으로 구성된다.

In [75]:
member <- list(name='홍길동', address='서울', tel = '010-1111-2222', pay=300)
print(member)

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

In [76]:
member$birth <- '1988-08-08'

In [77]:
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

$birth
[1] "1988-08-08"

---
# 문자열 처리
수집한 데이터의 필요한 문자열을 자르고, 교체하고, 추출하는 작업
### stringr package사용
- str_length() : 문자열 길이
- str_c() : 문자열 연결 
- str_sub() : 범위에 해당하는 문자열 생성
- str_split() : 구분자를 기준으로 문자열을 분리하여 부분생성
- str_replace() : 문자열에서 기존 문자열을 특정 문자열로 변환 / str_replace_all()
- str_extract() : 문자열에서 특정 문자열 패턴의 첫번째 문자열 추출/ str_extract_all()
- str_locate() : 문자열에서 특정 문자열 패턴의 첫번째 위치 추출 / str_locate_all()

In [1]:
# 패키지 불러오

library(stringr)

In [54]:
string <- "hongkildong105yoube1002kwanwoo25장비2005"

In [6]:
# a에서 z까지의 영문자가 연속으로 3개 발견된 문자열 추출
str_extract_all(string,"[a-z]{3}")

[[1]]
[1] "hoi" "ngk" "ill" "don" "you" "kwa" "nwo"

In [8]:
# a-z까지의 영문자가 연속으로 3개-5개 발견되는 문자열 추출
str_extract_all(string, "[a-z]{3,5}")

[[1]]
[1] "hoing" "killd" "ong"   "yoube" "kwanw"

In [35]:
# a-z까지의 영문자가 연속으로 1개 이상 발견된 문자열 추출
aaa <- str_extract_all(string, "[a-z]{1,}")
class(aaa)

#list 제거
bbb <- unlist(aaa)
bbb[1]

[1] "list"

[1] "hoingkilldong"

In [36]:
# string에서 숫자만 출력하여 합계 구하기
a <- str_extract(string, "[0-9]{1,}")
a
a <- str_extract_all(string, "[0-9]{1,}")
b <- unlist(a)
c <- as.integer(b)
sum(c)

[1] "105"

[1] 3137

In [41]:
# string에서 숫자만 출력하여 합계 구하기

sum(as.numeric(unlist(str_extract_all(string, "[0-9]{1,}"))))

[1] 3137

In [46]:
# 한글만 추출하기
unlist(str_extract_all(string, "[가-힣]{1,}"))

[1] "장비"

In [48]:
# 영문 빼고 추출하기

str_extract_all(string, "[^a-z]{1,}")

[[1]]
[1] "105"        "1002"       "25장비2005"

In [56]:
str_length(string)

[1] 38

In [55]:
str_locate(string,"장비")

     start end
[1,] 33    34

In [69]:
# 부분 문자열 추출

str_sub(string, 1, str_locate(string,"장비")[1] - 1)

[1] 33

[1] "hongkildong105yoube1002kwanwoo25"

In [70]:
# 대문자, 소문자 변경하기
str_to_upper(string)

[1] "HONGKILDONG105YOUBE1002KWANWOO25장비2005"

In [71]:
str_to_lower(string)

[1] "hongkildong105yoube1002kwanwoo25장비2005"

In [75]:
# 문자열 교체하기

string <- str_replace(string, "hongkildong105", "홍길동35,")
string <- str_replace(string, "yoube1002", "유비45,")
string <- str_replace(string, "kwanwoo25", "관우25,")
string <- str_replace(string, "2005", "20")
string

[1] "홍길동35,유비45,관우25,장비20"

In [76]:
str_split(string, ",")

[[1]]
[1] "홍길동35" "유비45"   "관우25"   "장비20"

In [77]:
class(string)

[1] "character"

In [85]:
#천 단위 쉼표가 들어간 문자열을 숫자로 변경하기

price <- "123,456,789"
price_int <- as.numeric(str_replace_all(price, ",",""))
price_int

[1] 123456789

In [87]:
price <- "123,459,789"
price_int <- as.numeric(str_remove_all(price, ","))
price_int

[1] 123459789

In [90]:
# NA를 변경하기

temp <- c(1, 2, NA, 4)
temp
sum(temp)

[1]  1  2 NA  4

[1] NA

In [93]:
as.numeric(str_replace_na(temp, 10))

[1]  1  2 10  4