In [6]:
train_df <- read.csv("../R_yang/Titanic_train.csv")

In [7]:
head(train_df)
tail(train_df)
summary(train_df)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

    PassengerId Survived Pclass Name                                     Sex
886 886         0        3      Rice, Mrs. William (Margaret Norton)     female
887 887         0        2      Montvila, Rev. Juozas                    male
888 888         1        1      Graham, Miss. Margaret Edith             female
889 889         0        3      Johnston, Miss. Catherine Helen "Carrie" female
890 890         1        1      Behr, Mr. Karl Howell                    male
891 891         0        3      Dooley, Mr. Patrick                      male
    Age SibSp Parch Ticket     Fare   Cabin Embarked
886 39  0     5     382652     29.125       Q
887 27  0     0     211536     13.000       S
888 19  0     0     112053     30.000 B42   S
889 NA  1     2     W./C. 6607 23.450       S
890 26  0     0     111369     30.000 C148  C
891 32  0     0     370376      7.750       Q

  PassengerId       Survived          Pclass
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000
 Median :446.0   Median :0.0000   Median :3.000
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

                                    Name         Sex           Age
 Abbing, Mr. Anthony                  :  1   female:314   Min.   : 0.42
 Abbott, Mr. Rossmore Edward          :  1   male  :577   1st Qu.:20.12
 Abbott, Mrs. Stanton (Rosa Hunt)     :  1                Median :28.00
 Abelson, Mr. Samuel                  :  1                Mean   :29.70
 Abelson, Mrs. Samuel (Hannah Wizosky):  1                3rd Qu.:38.00
 Adahl, Mr. Mauritz Nils Martin       :  1                Max.   :80.00
 (Other)                              :885                NA's   :177
     SibSp           Parch             Ticket         Fare
 Min.   :0.000   Min.   :0.0000   1601    :  7   Min.   :  0.00
 1st Qu.:0.000   1st Qu.:0.0000   347082  :  7   1st Qu.:  7.91
 Median :0.000   Median :0.0000   CA. 2343:  7   Median : 14.45
 Mean   :0.523   Mean   :0.3816   3101295 :  6   Mean   : 32.20
 3rd Qu.:1.000   3rd Qu.:0.0000   347088  :  6   3rd Qu.: 31.00
 Max.   :8.000   Max.   :6.0000   CA 2144 :  6   Max.   :512.33
                                  (Other) :852
         Cabin     Embarked
            :687    :  2
 B96 B98    :  4   C:168
 C23 C25 C27:  4   Q: 77
 G6         :  4   S:644
 C22 C26    :  3
 D          :  3
 (Other)    :186